version: "3.7"

services:

  go:
    image: gcr.io/code-education-296312/desafio_ci_go:latest
    container_name: desafio_ci_go
    build:
      context: .
    tty: true
    restart: unless-stopped
    ports:
      - "80:80"
      #- "443:443"
    working_dir: /go/src/app
    volumes:
      - ./src:/go/src/app
    command: bash -c "ls ."