# @changelog
# increased memory_limit directive
fastcgi_param PHP_VALUE "memory_limit=512M;\n allow_url_fopen=on;\n file_uploads=on;\n upload_tmp_dir=\"/tmp\";\n upload_max_filesize=80M;\n post_max_size=80M;\n max_execution_time=600;\n max_input_time=600;\n session.cookie_httponly=on;\n display_startup_errors=off;\n display_errors=off;\n html_errors=off;\n error_reporting=on;\n log_errors=on;\n error_log=\"/var/log/nginx/php_error.log\";";